<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Style Sheet-->
    <link rel="stylesheet" href="../style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="nav">
            <h1>Brand</h1>
            <div id="contentButtonNav">
               <a href="login.html" class="btn" id="btnLogIn">Log In</a>
               <a href="singup.html" class="btn">Sing Up</a> 
            </div>
            
        </nav>
    </header>
    <main>
        <article class="card cardSmall">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        <article class="card cardSmall">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        <article class="card cardSmall">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        
        <article class="card cardMiddle">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        <article class="card cardMiddle">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        <article class="card cardBig">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        <article class="card cardBig">
            <p for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed fuga itaque reprehenderit earum quod assumenda eaque totam omnis? Deserunt maxime iusto aliquid aut tempora, natus blanditiis saepe impedit quaerat!</p>
        </article>
        
        

    </main>
    
</body>
</html>