<!DOCTYPE html>
<html lang="es">
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css Style Sheet-->
    <link rel="stylesheet" href="../style.css">
    <title>Log In</title>
</head>
<body>
    <main>
        <article class="card cardMiddle" id="cardLogin">
            <h2>Log In</h2>
            <input class="card inputLogin" type="email" placeholder="Email" name="emailLogin" id="emailLogin">
            <input  class="card inputLogin" type="password" placeholder="Password" name="passwordLogin" id="passwordLogin">
            <button class="btn btnLogin" type="submit">Log In</button>
            <a class="aLogin" href="#">Olvide mi Contraseña</a>
            <br>
            <label  for="">&iquest;No tienes una Cuenta? <a class="aLogin" href="#">Registrarme</a></label>
        </article>
    </main>
    
</body>
</html>